{
  "extends": [
    "plugin:vue/vue3-essential",
    "eslint:recommended",
    "@vue/eslint-config-typescript",
    "@vue/eslint-config-prettier/skip-formatting",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "vue/multi-word-component-names": "off",
    "vue/valid-v-bind": "off",
    "no-debugger": "off"
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  }
}
